@import '../../variable.scss';
@import '../../color.scss';
@import '../../theme';
header {
  height: $HEADER_HEIGHT;
  background: $WHITE;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: #eee solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .app-menu-section {
    max-width: 1440px;
    min-width: $MIN_BODY_WIDTH;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  button {
    margin: 0 4px;
  }
}

button {
  padding-bottom: 2px;
  &.active-menu {
    padding-bottom: 0px;
  }
}

.active-menu {
  border-bottom: $mdc-theme-secondary solid 2px;
}