header {
  height: 88px;
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: #eee solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }
  header .app-menu-section {
    max-width: 1440px;
    min-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header button {
    margin: 0 4px; }

button {
  padding-bottom: 2px; }
  button.active-menu {
    padding-bottom: 0px; }

.active-menu {
  border-bottom: #6ec6ff solid 2px; }
