@import '../../variable.scss';
@import "@material/typography/mdc-typography";
footer {
  height: $FOOTER_HEIGHT;
  border-top: #eee solid 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .app-footer-section {
    max-width: 1440px;
    min-width: $MIN_BODY_WIDTH;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    flex: 1;
    .footer-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      a {
        @include mdc-typography('subtitle2');
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copy-right {
    @include mdc-typography('caption');
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    padding-bottom: 8px;
  }
}