@import './variable.scss';
@import "@material/typography/mdc-typography";
.app-container {
  @include mdc-typography-base();
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  .app-content {
    display: flex;
    margin-top: $HEADER_HEIGHT;
    padding-bottom: $FOOTER_HEIGHT;
    min-height: 640px;
  }
}